<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cedarville+Cursive">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Clicker+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color: #2e2536;">
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean" style="background-color: #403f43;height: 60pp;">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img class="rounded-circle border rounded border-white" src="https://avatars0.githubusercontent.com/u/42453798"
                style="width: 5%;"><a class="navbar-brand" href="#" style="color: #ffaabb;font-family: 'Poiret One', cursive;padding-left: 2%;padding-top: 5px;">EliseZeroTwo</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#projects" style="color: rgb(255,170,187);font-family: Raleway, sans-serif;">Me</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: #ffaabb;font-family: Raleway, sans-serif;">Write Ups</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#projects" style="color: rgb(255,170,187);font-family: Raleway, sans-serif;">Projects</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card text-center border rounded" style="background-color: #eeeeee;margin-top: 2%;">
            <div class="card-body">
                <h4 class="card-title" style="font-family: Raleway, sans-serif;"><%= title %></h4>
                <h6 class="text-muted card-subtitle mb-2">Written by <%= author %> - <%= read_time %></h6>
                <hr/>
                <div>
                  <% require 'redcarpet' %>
                  <% require 'redcarpet/render_strip' %>
                  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(content) %>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center" style="padding-top: 2%;"><a href="/" style="color: #a06dc9;font-family: Raleway, sans-serif;">Return Home</a>
        <h1 style="color: #ffaabb;font-size: 12px;font-family: 'Poiret One', cursive;padding-top: 0.25%;">Copyright EliseZeroTwo</h1>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>